body{
  margin: 0;
  height: 100%;
}

header{
  background-color: #0165a0;
  font-size: 40px;
  color: white;
  height: 100%;
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  background-color: #0165a0;
}

aside {
  width: 15%;
  height: 100%;
}

aside div {
  padding: 5px;
  text-align: center;
}
aside ul {
  list-style-type: none;
  padding-left: 0;
}

aside ul li{
  padding: 5px;
  text-align: center;
}

.board-wrapper{
  width: 100%;
  background: #0079bf
}

.board-details{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.board-details span {
  font-size: 20px;
}


.board{
    display: flex;
    gap: 50px;
    padding: 10px; 
}

.board div{
  color: black;
  background-color: #f7f8f9;
  width: 20%;
  border-radius: 10px;
  padding: 10px;
}

.board div div {
  font-weight: 600;
  font-size: 20px;
}

.board div ul {
  list-style-type: none;
  padding-left: 0;
  box-shadow: 0px 1px 1px #091E4240;
}

.board div ul li{
  padding: 5px;
  box-shadow: 0px 2px 2px #091E4240;
  margin-bottom: 10px;
  background-color: #ffffff;
}